<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.huadi.intelligentteachingplatform.mapper.QuestionMapper">

    <select id="selectByCourseId" resultType="com.huadi.intelligentteachingplatform.entity.Question">
        SELECT
            id,
            course_id AS courseId,
            type,
            content,
            options,
            answer,
            is_llm_generated AS isLlmGenerated,
            asr_audio_url AS asrAudioUrl,
            create_time AS createTime
        FROM tb_question
        WHERE course_id = #{courseId}
        ORDER BY id DESC
    </select>

    <insert id="insertQuestion" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO tb_question (course_id, type, content, options, answer, is_llm_generated, create_time)
        VALUES (#{courseId}, #{type}, #{content}, #{options}, #{answer}, #{isLlmGenerated}, NOW())
    </insert>

</mapper>